.raw_components--_iconButton--353Le {
    fill: #DDD;
    color: #DDD;
}

.raw_components--iconButtonEnabled--1oUUU:hover {
    fill: #18a0fb;
    color: #18a0fb;
}

.sidebar--sidebarScrollContainer--3CVrq {
    background-color: black;
}

.sidebar--searchInput--cvfVe {
    color: white;
}

.sidebar--navDefault--1zbCB {
    box-shadow: 1px 0 0 0 #252525;
}

.sidebar--navContent--sh3Ue {
    background-color: black;
}

.sidebar--lastSectionFixed--28g49 {
    background-color: black;
}

.sidebar--selected--BMSeP {
    background-color: #253d4e;
}

.in_app_page--appFont--3IVZv {
    color: #fff;
    background-color: black;
}

.tab--selected--2mpPj {
    color: #fff;
}

.tool_bar--toolBarContainer--UoZDp {
    background-color: #333;
    box-shadow: 0 1px 0 0 #252525;
}

.tool_bar--toolBarIconButton--3Bi-_ {
    fill: rgba(255, 255, 255, 0.8);
}

.generic_tile--tileBorder--29K0o {
    border: 1px solid #1f1f1f;
}

.generic_tile--title--2uQVI {
    color: #CCC;
}

.tiles_view--listHeaderContainer--2yaBL {
    background-color: #333;
}

.main_menu_dropdown--buttonHover--3Rn6i:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.new_team_link--buttonHover--2hWLS:hover {
    color: #c9d5e0;
}

.file_browser_view--fileBrowserPageViewContainer--1olui {
    color: white;
    background-color: #333;
}
